Practical number 2

In [1]:
import pandas as pd #importing pandas for data manipulation

In [2]:
import numpy as np #importing numpy for working with arrays

In [3]:
import random #importing random

In [5]:
import statistics #importing statistics for mean meadian and mode

In [19]:
stud_data=pd.read_csv("StudentsPerformance2.csv") # using read_csv () to read the csv file and using .pd to convert it into dataframe
stud_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,NaN,88.0
2,female,group B,master's degree,standard,none,NaN,NaN,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,82.0,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [20]:
stud_data.isnull().sum() #displaying sum of null values

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                      8
reading score                  18
writing score                  10
dtype: int64

In [21]:
stud_data.info() #using info() to display basic information of our dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     992 non-null float64
reading score                  982 non-null float64
writing score                  990 non-null float64
dtypes: float64(3), object(5)
memory usage: 62.6+ KB

In [22]:
stud_data.shape # displaying the number of rows and columns of dataframe

(1000, 8)

In [23]:
stud_data.size # displaying the total number of cells in the dataframe

8000

In [25]:
stud_data.columns #displaying the columns of the dataframe in a array

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [26]:
stud_data.head(10) #displaying the top 10 rows

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,NaN,88.0
2,female,group B,master's degree,standard,none,NaN,NaN,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0

In [28]:
stud_data["reading score"]=stud_data["reading score"].replace(np.NaN,stud_data["reading score"].mean())
#replacing NaN values by mean

In [29]:
stud_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.000000,74.0
1,female,group C,some college,standard,completed,69.0,68.782077,88.0
2,female,group B,master's degree,standard,none,NaN,68.782077,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.000000,44.0
4,male,group C,some college,standard,none,76.0,78.000000,75.0
5,female,group B,associate's degree,standard,none,71.0,83.000000,78.0
6,female,group B,some college,standard,completed,88.0,95.000000,92.0
7,male,group B,some college,free/reduced,none,40.0,43.000000,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.000000,67.0
9,female,group B,high school,free/reduced,none,38.0,60.000000,50.0
10,male,group C,associate's degree,standard,none,58.0,54.000000,52.0
11,male,group D,associate's degree,standard,none,40.0,52.000000,43.0
12,female,group B,high school,standard,none,65.0,81.000000,73.0
13,male,group A,some college,standard,completed,78.0,72.000000,70.0
14,female,group A,master's degree,standard,none,50.0,53.000000,58.0
15,female,group C,some high school,standard,none,69.0,75.000000,78.0
16,male,group C,high school,standard,none,88.0,89.000000,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.000000,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.000000,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.000000,61.0
20,male,group D,high school,standard,none,66.0,69.000000,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.000000,70.0
22,male,group D,some college,standard,none,44.0,54.000000,53.0
23,female,group C,some high school,standard,none,69.0,73.000000,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.000000,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.000000,72.0
26,male,group B,some college,standard,none,69.0,54.000000,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.000000,75.0
28,male,group C,high school,standard,none,70.0,70.000000,65.0
29,female,group D,master's degree,standard,none,62.0,70.000000,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.000000,100.0
971,male,group C,some high school,standard,completed,78.0,72.000000,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.000000,60.0
973,female,group D,some college,free/reduced,none,49.0,65.000000,61.0
974,female,group A,some college,standard,none,54.0,63.000000,67.0
975,female,group C,some college,standard,completed,64.0,82.000000,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.000000,60.0
977,male,group C,associate's degree,standard,none,62.0,65.000000,58.0
978,male,group D,high school,standard,completed,55.0,41.000000,48.0
979,female,group C,associate's degree,standard,none,91.0,95.000000,94.0
980,female,group B,high school,free/reduced,none,8.0,24.000000,23.0
981,male,group D,some high school,standard,none,81.0,78.000000,78.0
982,male,group B,some high school,standard,completed,79.0,85.000000,86.0
983,female,group A,some college,standard,completed,78.0,87.000000,91.0
984,female,group C,some high school,standard,none,74.0,75.000000,82.0
985,male,group A,high school,standard,none,57.0,51.000000,54.0
986,female,group C,associate's degree,standard,none,40.0,59.000000,51.0
987,male,group E,some high school,standard,completed,81.0,75.000000,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.000000,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.000000,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.000000,75.0
991,female,group B,some high school,standard,completed,65.0,82.000000,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.000000,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.000000,74.0
994,male,group A,high school,standard,none,63.0,63.000000,62.0
995,female,group E,master's degree,standard,completed,88.0,99.000000,95.0
996,male,group C,high school,free/reduced,none,62.0,55.000000,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.000000,65.0
998,female,group D,some college,standard,completed,68.0,78.000000,77.0
999,female,group D,some college,free/reduced,none,77.0,86.000000,86.0

In [32]:
stud_data["writing score"]=stud_data["writing score"].replace(np.NaN,stud_data["writing score"].median())
#replacing NaN values by median

In [33]:
stud_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.000000,74.0
1,female,group C,some college,standard,completed,69.0,68.782077,88.0
2,female,group B,master's degree,standard,none,NaN,68.782077,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.000000,44.0
4,male,group C,some college,standard,none,76.0,78.000000,75.0
5,female,group B,associate's degree,standard,none,71.0,83.000000,78.0
6,female,group B,some college,standard,completed,88.0,95.000000,92.0
7,male,group B,some college,free/reduced,none,40.0,43.000000,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.000000,67.0
9,female,group B,high school,free/reduced,none,38.0,60.000000,50.0
10,male,group C,associate's degree,standard,none,58.0,54.000000,52.0
11,male,group D,associate's degree,standard,none,40.0,52.000000,43.0
12,female,group B,high school,standard,none,65.0,81.000000,73.0
13,male,group A,some college,standard,completed,78.0,72.000000,70.0
14,female,group A,master's degree,standard,none,50.0,53.000000,58.0
15,female,group C,some high school,standard,none,69.0,75.000000,78.0
16,male,group C,high school,standard,none,88.0,89.000000,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.000000,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.000000,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.000000,61.0
20,male,group D,high school,standard,none,66.0,69.000000,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.000000,70.0
22,male,group D,some college,standard,none,44.0,54.000000,53.0
23,female,group C,some high school,standard,none,69.0,73.000000,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.000000,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.000000,72.0
26,male,group B,some college,standard,none,69.0,54.000000,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.000000,75.0
28,male,group C,high school,standard,none,70.0,70.000000,65.0
29,female,group D,master's degree,standard,none,62.0,70.000000,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.000000,100.0
971,male,group C,some high school,standard,completed,78.0,72.000000,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.000000,60.0
973,female,group D,some college,free/reduced,none,49.0,65.000000,61.0
974,female,group A,some college,standard,none,54.0,63.000000,67.0
975,female,group C,some college,standard,completed,64.0,82.000000,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.000000,60.0
977,male,group C,associate's degree,standard,none,62.0,65.000000,58.0
978,male,group D,high school,standard,completed,55.0,41.000000,48.0
979,female,group C,associate's degree,standard,none,91.0,95.000000,94.0
980,female,group B,high school,free/reduced,none,8.0,24.000000,23.0
981,male,group D,some high school,standard,none,81.0,78.000000,78.0
982,male,group B,some high school,standard,completed,79.0,85.000000,86.0
983,female,group A,some college,standard,completed,78.0,87.000000,91.0
984,female,group C,some high school,standard,none,74.0,75.000000,82.0
985,male,group A,high school,standard,none,57.0,51.000000,54.0
986,female,group C,associate's degree,standard,none,40.0,59.000000,51.0
987,male,group E,some high school,standard,completed,81.0,75.000000,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.000000,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.000000,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.000000,75.0
991,female,group B,some high school,standard,completed,65.0,82.000000,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.000000,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.000000,74.0
994,male,group A,high school,standard,none,63.0,63.000000,62.0
995,female,group E,master's degree,standard,completed,88.0,99.000000,95.0
996,male,group C,high school,free/reduced,none,62.0,55.000000,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.000000,65.0
998,female,group D,some college,standard,completed,68.0,78.000000,77.0
999,female,group D,some college,free/reduced,none,77.0,86.000000,86.0

In [34]:
stud_data.isnull().sum() #checking if there are any NaN values in the dataframe

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     8
reading score                  0
writing score                  0
dtype: int64

In [35]:
stud_data["math score"]=stud_data["math score"].replace(np.NaN,statistics.mode(stud_data["math score"]))
#replacing NaN values by mode

In [36]:
stud_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.000000,74.0
1,female,group C,some college,standard,completed,69.0,68.782077,88.0
2,female,group B,master's degree,standard,none,65.0,68.782077,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.000000,44.0
4,male,group C,some college,standard,none,76.0,78.000000,75.0
5,female,group B,associate's degree,standard,none,71.0,83.000000,78.0
6,female,group B,some college,standard,completed,88.0,95.000000,92.0
7,male,group B,some college,free/reduced,none,40.0,43.000000,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.000000,67.0
9,female,group B,high school,free/reduced,none,38.0,60.000000,50.0
10,male,group C,associate's degree,standard,none,58.0,54.000000,52.0
11,male,group D,associate's degree,standard,none,40.0,52.000000,43.0
12,female,group B,high school,standard,none,65.0,81.000000,73.0
13,male,group A,some college,standard,completed,78.0,72.000000,70.0
14,female,group A,master's degree,standard,none,50.0,53.000000,58.0
15,female,group C,some high school,standard,none,69.0,75.000000,78.0
16,male,group C,high school,standard,none,88.0,89.000000,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.000000,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.000000,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.000000,61.0
20,male,group D,high school,standard,none,66.0,69.000000,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.000000,70.0
22,male,group D,some college,standard,none,44.0,54.000000,53.0
23,female,group C,some high school,standard,none,69.0,73.000000,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.000000,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.000000,72.0
26,male,group B,some college,standard,none,69.0,54.000000,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.000000,75.0
28,male,group C,high school,standard,none,70.0,70.000000,65.0
29,female,group D,master's degree,standard,none,62.0,70.000000,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.000000,100.0
971,male,group C,some high school,standard,completed,78.0,72.000000,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.000000,60.0
973,female,group D,some college,free/reduced,none,49.0,65.000000,61.0
974,female,group A,some college,standard,none,54.0,63.000000,67.0
975,female,group C,some college,standard,completed,64.0,82.000000,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.000000,60.0
977,male,group C,associate's degree,standard,none,62.0,65.000000,58.0
978,male,group D,high school,standard,completed,55.0,41.000000,48.0
979,female,group C,associate's degree,standard,none,91.0,95.000000,94.0
980,female,group B,high school,free/reduced,none,8.0,24.000000,23.0
981,male,group D,some high school,standard,none,81.0,78.000000,78.0
982,male,group B,some high school,standard,completed,79.0,85.000000,86.0
983,female,group A,some college,standard,completed,78.0,87.000000,91.0
984,female,group C,some high school,standard,none,74.0,75.000000,82.0
985,male,group A,high school,standard,none,57.0,51.000000,54.0
986,female,group C,associate's degree,standard,none,40.0,59.000000,51.0
987,male,group E,some high school,standard,completed,81.0,75.000000,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.000000,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.000000,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.000000,75.0
991,female,group B,some high school,standard,completed,65.0,82.000000,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.000000,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.000000,74.0
994,male,group A,high school,standard,none,63.0,63.000000,62.0
995,female,group E,master's degree,standard,completed,88.0,99.000000,95.0
996,male,group C,high school,free/reduced,none,62.0,55.000000,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.000000,65.0
998,female,group D,some college,standard,completed,68.0,78.000000,77.0
999,female,group D,some college,free/reduced,none,77.0,86.000000,86.0

In [37]:
stud_data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [40]:
#for using fill Na and drop Na we take another csv file
stud_data2=pd.read_csv("StudentsPerformance 11.csv")

In [41]:
stud_data2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,NaN,32.0,NaN
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,NaN,NaN
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,NaN,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,NaN,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,NaN
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [42]:
stud_data2.isnull().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     37
reading score                  44
writing score                  38
dtype: int64

In [43]:
stud_data2.dropna(inplace=True) # droping the rows where there are NaN values by using dropna() of pandas

In [46]:
stud_data2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
30,female,group D,some college,standard,none,69.0,74.0,74.0
31,female,group B,some college,standard,none,63.0,65.0,61.0
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65.0
...,...,...,...,...,...,...,...,...
967,male,group C,some college,standard,none,63.0,63.0,60.0
968,female,group E,associate's degree,standard,none,68.0,76.0,67.0
969,female,group B,bachelor's degree,standard,none,75.0,84.0,80.0
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [47]:
stud_data2.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [48]:
stud_data3=pd.read_csv("StudentsPerformance 12.csv")

In [49]:
stud_data3

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,NaN,32.0,NaN
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,NaN,NaN
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,NaN,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,NaN,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,NaN
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [50]:
stud_data3.isnull().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     37
reading score                  44
writing score                  38
dtype: int64

In [52]:
#using Fill Na fumction to only replace one column value by 0
stud_data3["math score"]=stud_data3["math score"].fillna(0) #filling 0 where there are NaN values in the dataframe by using fillna () of pandas

In [53]:
stud_data3

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,0.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,0.0,32.0,NaN
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,NaN,NaN
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,0.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,NaN,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,NaN
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [54]:
stud_data3.isnull().sum() #only the column math score

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                      0
reading score                  44
writing score                  38
dtype: int64

In [57]:
stud_data4=pd.read_csv("StudentsPerformance2.csv")

In [58]:
stud_data4

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,NaN,88.0
2,female,group B,master's degree,standard,none,NaN,NaN,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,82.0,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [59]:
stud_data4["math score"]

0      72.0
1      69.0
2       NaN
3      47.0
4      76.0
5      71.0
6      88.0
7      40.0
8      64.0
9      38.0
10     58.0
11     40.0
12     65.0
13     78.0
14     50.0
15     69.0
16     88.0
17     18.0
18     46.0
19     54.0
20     66.0
21     65.0
22     44.0
23     69.0
24     74.0
25     73.0
26     69.0
27     67.0
28     70.0
29     62.0
       ...
970    89.0
971    78.0
972    53.0
973    49.0
974    54.0
975    64.0
976    60.0
977    62.0
978    55.0
979    91.0
980     8.0
981    81.0
982    79.0
983    78.0
984    74.0
985    57.0
986    40.0
987    81.0
988    44.0
989    67.0
990    86.0
991    65.0
992    55.0
993    62.0
994    63.0
995    88.0
996    62.0
997    59.0
998    68.0
999    77.0
Name: math score, Length: 1000, dtype: float64

In [60]:
stud_data4["math score"]=stud_data4["math score"].fillna(method="ffill")
#filling the forward value in column where there are NaN values by using fillna in which we are using forward fill

In [62]:
stud_data4["math score"]

0      72.0
1      69.0
2      69.0
3      47.0
4      76.0
5      71.0
6      88.0
7      40.0
8      64.0
9      38.0
10     58.0
11     40.0
12     65.0
13     78.0
14     50.0
15     69.0
16     88.0
17     18.0
18     46.0
19     54.0
20     66.0
21     65.0
22     44.0
23     69.0
24     74.0
25     73.0
26     69.0
27     67.0
28     70.0
29     62.0
       ...
970    89.0
971    78.0
972    53.0
973    49.0
974    54.0
975    64.0
976    60.0
977    62.0
978    55.0
979    91.0
980     8.0
981    81.0
982    79.0
983    78.0
984    74.0
985    57.0
986    40.0
987    81.0
988    44.0
989    67.0
990    86.0
991    65.0
992    55.0
993    62.0
994    63.0
995    88.0
996    62.0
997    59.0
998    68.0
999    77.0
Name: math score, Length: 1000, dtype: float64

In [63]:
stud_data4["reading score"]

0       72.0
1        NaN
2        NaN
3       57.0
4       78.0
5       83.0
6       95.0
7       43.0
8       64.0
9       60.0
10      54.0
11      52.0
12      81.0
13      72.0
14      53.0
15      75.0
16      89.0
17      32.0
18      42.0
19      58.0
20      69.0
21      75.0
22      54.0
23      73.0
24      71.0
25      74.0
26      54.0
27      69.0
28      70.0
29      70.0
       ...
970    100.0
971     72.0
972     50.0
973     65.0
974     63.0
975     82.0
976     62.0
977     65.0
978     41.0
979     95.0
980     24.0
981     78.0
982     85.0
983     87.0
984     75.0
985     51.0
986     59.0
987     75.0
988     45.0
989     86.0
990     81.0
991     82.0
992     76.0
993     72.0
994     63.0
995     99.0
996     55.0
997     71.0
998     78.0
999     86.0
Name: reading score, Length: 1000, dtype: float64

In [64]:
stud_data4["reading score"]=stud_data4["reading score"].fillna(method="bfill") #backword fill
#filling the backword value in column where there are NaN values by using fillna in which we are using backword fill

In [68]:
stud_data4["reading score"]

0       72.0
1       57.0
2       57.0
3       57.0
4       78.0
5       83.0
6       95.0
7       43.0
8       64.0
9       60.0
10      54.0
11      52.0
12      81.0
13      72.0
14      53.0
15      75.0
16      89.0
17      32.0
18      42.0
19      58.0
20      69.0
21      75.0
22      54.0
23      73.0
24      71.0
25      74.0
26      54.0
27      69.0
28      70.0
29      70.0
       ...
970    100.0
971     72.0
972     50.0
973     65.0
974     63.0
975     82.0
976     62.0
977     65.0
978     41.0
979     95.0
980     24.0
981     78.0
982     85.0
983     87.0
984     75.0
985     51.0
986     59.0
987     75.0
988     45.0
989     86.0
990     81.0
991     82.0
992     76.0
993     72.0
994     63.0
995     99.0
996     55.0
997     71.0
998     78.0
999     86.0
Name: reading score, Length: 1000, dtype: float64

In [76]:
stud_data5=pd.read_csv("StudentsPerformance2.csv")
stud_data5

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,NaN,88.0
2,female,group B,master's degree,standard,none,NaN,NaN,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,82.0,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [77]:
stud_data5["reading score"]=stud_data5["reading score"].interpolate(method="linear",limit_direction="forward",axis=0)
# Interpolate missing values in the "reading score" column of DataFrame stud_data5
# Limit interpolation to forward direction
# Interpolate along the rows (vertically)

In [78]:
stud_data5

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,67.0,88.0
2,female,group B,master's degree,standard,none,NaN,62.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,82.0,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [79]:
stud_data5["math score"]=stud_data5["math score"].interpolate(method="linear",limit_direction="backward",axis=0)
# Interpolate missing values in the "reading score" column of DataFrame stud_data5
# Limit interpolation to backword direction
# Interpolate along the rows (vertically)

In [80]:
stud_data5

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,67.0,88.0
2,female,group B,master's degree,standard,none,58.0,62.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,82.0,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [82]:
stud_data6=pd.read_csv("StudentsPerformance2.csv")
stud_data6["reading score"]=stud_data6["reading score"].interpolate(method="linear",limit_direction="forward",axis=1)
# Interpolate missing values in the "reading score" column of DataFrame stud_data5
# Limit interpolation to forward direction
# Interpolate along the columns (horizontally)

In [83]:
stud_data6

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,67.0,88.0
2,female,group B,master's degree,standard,none,NaN,62.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0
10,male,group C,associate's degree,standard,none,58.0,54.0,52.0
11,male,group D,associate's degree,standard,none,40.0,52.0,43.0
12,female,group B,high school,standard,none,65.0,81.0,73.0
13,male,group A,some college,standard,completed,78.0,72.0,70.0
14,female,group A,master's degree,standard,none,50.0,53.0,58.0
15,female,group C,some high school,standard,none,69.0,75.0,78.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
17,female,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,male,group D,high school,standard,none,66.0,69.0,63.0
21,female,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,male,group D,some college,standard,none,44.0,54.0,53.0
23,female,group C,some high school,standard,none,69.0,73.0,73.0
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,male,group B,some college,standard,none,69.0,54.0,55.0
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,male,group C,high school,standard,none,70.0,70.0,65.0
29,female,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,male,group C,some high school,standard,completed,78.0,72.0,69.0
972,female,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,female,group D,some college,free/reduced,none,49.0,65.0,61.0
974,female,group A,some college,standard,none,54.0,63.0,67.0
975,female,group C,some college,standard,completed,64.0,82.0,77.0
976,male,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,male,group C,associate's degree,standard,none,62.0,65.0,58.0
978,male,group D,high school,standard,completed,55.0,41.0,48.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
980,female,group B,high school,free/reduced,none,8.0,24.0,23.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
982,male,group B,some high school,standard,completed,79.0,85.0,86.0
983,female,group A,some college,standard,completed,78.0,87.0,91.0
984,female,group C,some high school,standard,none,74.0,75.0,82.0
985,male,group A,high school,standard,none,57.0,51.0,54.0
986,female,group C,associate's degree,standard,none,40.0,59.0,51.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
988,female,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,female,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,female,group B,some high school,standard,completed,65.0,82.0,78.0
992,female,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,female,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [84]:
stud_data6["gender"]=np.where(stud_data6["gender"]=='female',0,1)
# Convert 'female' to 0 and 'male' to 1 in the 'gender' column of DataFrame stud_data6

In [85]:
stud_data6

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,0,group C,some college,standard,completed,69.0,67.0,88.0
2,0,group B,master's degree,standard,none,NaN,62.0,93.0
3,1,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,1,group C,some college,standard,none,76.0,78.0,75.0
5,0,group B,associate's degree,standard,none,71.0,83.0,78.0
6,0,group B,some college,standard,completed,88.0,95.0,92.0
7,1,group B,some college,free/reduced,none,40.0,43.0,39.0
8,1,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,0,group B,high school,free/reduced,none,38.0,60.0,50.0
10,1,group C,associate's degree,standard,none,58.0,54.0,52.0
11,1,group D,associate's degree,standard,none,40.0,52.0,43.0
12,0,group B,high school,standard,none,65.0,81.0,73.0
13,1,group A,some college,standard,completed,78.0,72.0,70.0
14,0,group A,master's degree,standard,none,50.0,53.0,58.0
15,0,group C,some high school,standard,none,69.0,75.0,78.0
16,1,group C,high school,standard,none,88.0,89.0,86.0
17,0,group B,some high school,free/reduced,none,18.0,32.0,28.0
18,1,group C,master's degree,free/reduced,completed,46.0,42.0,46.0
19,0,group C,associate's degree,free/reduced,none,54.0,58.0,61.0
20,1,group D,high school,standard,none,66.0,69.0,63.0
21,0,group B,some college,free/reduced,completed,65.0,75.0,70.0
22,1,group D,some college,standard,none,44.0,54.0,53.0
23,0,group C,some high school,standard,none,69.0,73.0,73.0
24,1,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80.0
25,1,group A,master's degree,free/reduced,none,73.0,74.0,72.0
26,1,group B,some college,standard,none,69.0,54.0,55.0
27,0,group C,bachelor's degree,standard,none,67.0,69.0,75.0
28,1,group C,high school,standard,none,70.0,70.0,65.0
29,0,group D,master's degree,standard,none,62.0,70.0,75.0
...,...,...,...,...,...,...,...,...
970,0,group D,bachelor's degree,standard,none,89.0,100.0,100.0
971,1,group C,some high school,standard,completed,78.0,72.0,69.0
972,0,group A,high school,free/reduced,completed,53.0,50.0,60.0
973,0,group D,some college,free/reduced,none,49.0,65.0,61.0
974,0,group A,some college,standard,none,54.0,63.0,67.0
975,0,group C,some college,standard,completed,64.0,82.0,77.0
976,1,group B,some college,free/reduced,completed,60.0,62.0,60.0
977,1,group C,associate's degree,standard,none,62.0,65.0,58.0
978,1,group D,high school,standard,completed,55.0,41.0,48.0
979,0,group C,associate's degree,standard,none,91.0,95.0,94.0
980,0,group B,high school,free/reduced,none,8.0,24.0,23.0
981,1,group D,some high school,standard,none,81.0,78.0,78.0
982,1,group B,some high school,standard,completed,79.0,85.0,86.0
983,0,group A,some college,standard,completed,78.0,87.0,91.0
984,0,group C,some high school,standard,none,74.0,75.0,82.0
985,1,group A,high school,standard,none,57.0,51.0,54.0
986,0,group C,associate's degree,standard,none,40.0,59.0,51.0
987,1,group E,some high school,standard,completed,81.0,75.0,76.0
988,0,group A,some high school,free/reduced,none,44.0,45.0,45.0
989,0,group D,some college,free/reduced,completed,67.0,86.0,83.0
990,1,group E,high school,free/reduced,completed,86.0,81.0,75.0
991,0,group B,some high school,standard,completed,65.0,82.0,78.0
992,0,group D,associate's degree,free/reduced,none,55.0,76.0,76.0
993,0,group D,bachelor's degree,free/reduced,none,62.0,72.0,74.0
994,1,group A,high school,standard,none,63.0,63.0,62.0
995,0,group E,master's degree,standard,completed,88.0,99.0,95.0
996,1,group C,high school,free/reduced,none,62.0,55.0,55.0
997,0,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,0,group D,some college,standard,completed,68.0,78.0,77.0
999,0,group D,some college,free/reduced,none,77.0,86.0,86.0