Practical Number 1

In [ ]:
import pandas as pd # pandas library used fro tabular library

In [ ]:
import numpy as np # Numpy is a general-purpose array-processing package

In [1]:
import random

In [ ]:
df=pd.read_csv("Country wise GDP from 1994 to 2017.csv") #To read csv file
df # to print data in table form

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
0,2017,United States,19485394000000,17348625758200,2.27,53366,0.64,325084756
1,2016,United States,18707189000000,16972347070400,1.49,52543,0.67,323015995
2,2015,United States,18219297000000,16710458234000,2.86,52077,0.69,320878310
3,2014,United States,17521747000000,16242525613600,2.57,50969,0.72,318673411
4,2013,United States,16784851000000,15853794839100,1.68,50107,0.75,316400538
...,...,...,...,...,...,...,...,...
4321,1998,Tuvalu,12757633,29758863,15.50,3189,0.10,9332
4322,1997,Tuvalu,12700905,25764977,10.00,2764,0.00,9323
4323,1996,Tuvalu,12334846,23422020,-5.96,2512,0.27,9323
4324,1995,Tuvalu,11025945,24906804,-5.00,2679,0.50,9298
4325,1994,Tuvalu,10886826,26218914,10.28,2834,0.63,9252

In [ ]:
df.head() #displayes the first 5 rows

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
0,2017,United States,19485394000000,17348625758200,2.27,53366,0.64,325084756
1,2016,United States,18707189000000,16972347070400,1.49,52543,0.67,323015995
2,2015,United States,18219297000000,16710458234000,2.86,52077,0.69,320878310
3,2014,United States,17521747000000,16242525613600,2.57,50969,0.72,318673411
4,2013,United States,16784851000000,15853794839100,1.68,50107,0.75,316400538

In [ ]:
df.head(10) # displays first 10 rows

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
0,2017,United States,19485394000000,17348625758200,2.27,53366,0.64,325084756
1,2016,United States,18707189000000,16972347070400,1.49,52543,0.67,323015995
2,2015,United States,18219297000000,16710458234000,2.86,52077,0.69,320878310
3,2014,United States,17521747000000,16242525613600,2.57,50969,0.72,318673411
4,2013,United States,16784851000000,15853794839100,1.68,50107,0.75,316400538
5,2012,United States,16197007000000,15567037390000,2.22,49570,0.79,314043885
6,2011,United States,15542582000000,15224554065500,1.60,48862,0.83,311584047
7,2010,United States,14992052000000,14992052000000,2.53,48516,0.88,309011475
8,2009,United States,14418739000000,14594842181900,-2.78,47648,0.93,306307567
9,2008,United States,14718582000000,15011490541400,-0.29,49464,0.96,303486012

In [ ]:
df.tail() # displays last 5 rows

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
4321,1998,Tuvalu,12757633,29758863,15.50,3189,0.10,9332
4322,1997,Tuvalu,12700905,25764977,10.00,2764,0.00,9323
4323,1996,Tuvalu,12334846,23422020,-5.96,2512,0.27,9323
4324,1995,Tuvalu,11025945,24906804,-5.00,2679,0.50,9298
4325,1994,Tuvalu,10886826,26218914,10.28,2834,0.63,9252

In [ ]:
df.tail(10) # displays last 10 rows

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
4316,2003,Tuvalu,18231079,30747971,-3.33,3161,1.35,9726
4317,2002,Tuvalu,15450994,31808313,7.89,3315,1.18,9596
4318,2001,Tuvalu,13196545,29483215,1.63,3109,0.96,9484
4319,2000,Tuvalu,13742057,29009174,-0.97,3088,0.51,9394
4320,1999,Tuvalu,13687141,29293496,-1.56,3134,0.15,9346
4321,1998,Tuvalu,12757633,29758863,15.50,3189,0.10,9332
4322,1997,Tuvalu,12700905,25764977,10.00,2764,0.00,9323
4323,1996,Tuvalu,12334846,23422020,-5.96,2512,0.27,9323
4324,1995,Tuvalu,11025945,24906804,-5.00,2679,0.50,9298
4325,1994,Tuvalu,10886826,26218914,10.28,2834,0.63,9252

In [ ]:
df.isnull() # displays true if any value is entry is null

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
4321,False,False,False,False,False,False,False,False
4322,False,False,False,False,False,False,False,False
4323,False,False,False,False,False,False,False,False
4324,False,False,False,False,False,False,False,False
4325,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum() # display the count of null values

Year                       0
Country                    0
GDP (in USD)               0
GDP Real (in USD)          0
GDP change (%)             0
GDP per capita (in USD)    0
Pop. change (%)            0
Population                 0
dtype: int64

In [ ]:
df.describe() # displays the count,mean and other values

,Year,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
count,4326.000000,4.326000e+03,4.326000e+03,4326.000000,4326.000000,4326.000000,4.326000e+03
mean,2005.839806,2.849600e+11,3.229449e+11,3.823160,12531.465095,1.505032,3.561876e+07
std,6.881793,1.217041e+12,1.261344e+12,5.953154,17768.051337,1.517577,1.349238e+08
min,1994.000000,1.088683e+07,0.000000e+00,-62.080000,0.000000,-6.390000,9.252000e+03
25%,2000.000000,3.656094e+09,4.824270e+09,1.672500,1379.000000,0.510000,1.595111e+06
50%,2006.000000,1.667511e+10,2.080079e+10,3.790000,4402.000000,1.360000,7.084947e+06
75%,2012.000000,1.170677e+11,1.518027e+11,6.020000,15485.250000,2.397500,2.265789e+07
max,2017.000000,1.948539e+13,1.734863e+13,149.970000,113166.000000,19.140000,1.421022e+09

In [ ]:
df.shape # displays the dimensions

(4326, 8)

In [ ]:
df.info() # display the information of csv file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4326 entries, 0 to 4325
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4326 non-null   int64
 1   Country                  4326 non-null   object
 2   GDP (in USD)             4326 non-null   int64
 3   GDP Real (in USD)        4326 non-null   int64
 4   GDP change (%)           4326 non-null   float64
 5   GDP per capita (in USD)  4326 non-null   int64
 6   Pop. change (%)          4326 non-null   float64
 7   Population               4326 non-null   int64
dtypes: float64(2), int64(5), object(1)
memory usage: 270.5+ KB

In [ ]:
 df.dtypes # displays the datatype of the columns

Year                         int64
Country                     object
GDP (in USD)                 int64
GDP Real (in USD)            int64
GDP change (%)             float64
GDP per capita (in USD)      int64
Pop. change (%)            float64
Population                   int64
dtype: object

In [ ]:
df['Population']=df['Population'].astype("float64") # to change the datatype of a certain column

In [ ]:
df.dtypes

Year                         int64
Country                     object
GDP (in USD)                 int64
GDP Real (in USD)            int64
GDP change (%)             float64
GDP per capita (in USD)      int64
Pop. change (%)            float64
Population                 float64
dtype: object

In [ ]:
df['Country'].replace({'Africa':'AF', 'Europe':'E', 'United States':'US'}, inplace=True) # to change the values in a particular column if the values are repeated then all the entries values will change

In [ ]:
df

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
0,2017,US,19485394000000,17348625758200,2.27,53366,0.64,325084756.0
1,2016,US,18707189000000,16972347070400,1.49,52543,0.67,323015995.0
2,2015,US,18219297000000,16710458234000,2.86,52077,0.69,320878310.0
3,2014,US,17521747000000,16242525613600,2.57,50969,0.72,318673411.0
4,2013,US,16784851000000,15853794839100,1.68,50107,0.75,316400538.0
...,...,...,...,...,...,...,...,...
4321,1998,Tuvalu,12757633,29758863,15.50,3189,0.10,9332.0
4322,1997,Tuvalu,12700905,25764977,10.00,2764,0.00,9323.0
4323,1996,Tuvalu,12334846,23422020,-5.96,2512,0.27,9323.0
4324,1995,Tuvalu,11025945,24906804,-5.00,2679,0.50,9298.0
4325,1994,Tuvalu,10886826,26218914,10.28,2834,0.63,9252.0

In [ ]:
df['Population']=df['Population'].fillna(0).astype(np.int64) # to change the float values into integer

In [ ]:
df.dtypes

Year                         int64
Country                     object
GDP (in USD)                 int64
GDP Real (in USD)            int64
GDP change (%)             float64
GDP per capita (in USD)      int64
Pop. change (%)            float64
Population                   int64
dtype: object